* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Menubar {
    position: relative;
    width: 100%;
    min-height: 30px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: rgb(255, 231, 231); */
    padding: 20px 0px;
}

.Menubar .logo img {
    width: 170px;
}

nav ul li {
    list-style: none;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    display: block;
    padding: 15px 30px;
    color: rgb(48, 46, 46);
    margin: 2px;
}

nav ul li a:hover {
    background-color: rgb(255, 173, 126);
}

.btnn:hover {
    color: rgb(255, 255, 255);
    transition: 0.4s ease-in-out;
}

.active,
.btn:hover {
    color: rgb(255, 255, 255);
    transition: 0.4s ease-in-out;
    background-color: rgb(255, 173, 126);
}


/* drop down menu */

.dropdown-content {
    position: relative;
    display: none;
    background-color: rgb(241, 212, 212);
}

.drop-a {
    position: relative;
}

.symbol {
    position: absolute;
    bottom: 0;
}

.dropdown-content a {
    padding: 10px 0px;
    margin-top: 2px;
}

.dropdown:hover .symbol {
    opacity: 1;
    visibility: visible;
    transition: 0.4s linear;
}

.showSylb {
    opacity: 1;
    visibility: visible;
    transition: 0.4s ease-in-out;
}


/* function toggle show */

.show {
    opacity: 1;
    display: block;
}

.burgger {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    display: block;
    cursor: pointer;
    z-index: 2;
}

.burgger div {
    width: 25px;
    margin: 5px;
    height: 3px;
    transition: ease 0.4s;
    background-color: gray;
}


/* toggle thanh burgger  */

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/* Kết thúc dropdown */

.Menubar .logo {
    text-align: center;
}

.drop-a {
    position: relative;
}

.symbol {
    position: absolute;
    left: 90%;
    top: 30%;
    transform: translateX(-100%, -30%);
    color: rgb(255, 255, 255);
    opacity: 1;
    visibility: visible;
}

.nav_links {
    flex-direction: column;
    position: fixed;
    left: -100%;
    top: 0px;
    background-color: rgba(255, 213, 242, 0.9);
    display: block;
    width: 30%;
    height: 100%;
    transition: 0.5s ease;
    z-index: 1;
    justify-content: center;
    padding: 80px 20px;
}

.show {
    animation: mymove 1s;
    height: 100%;
    opacity: 1;
    visibility: visible;
    transition: 0.4s ease;
}

@keyframes mymove {
    from {
        top: -10px;
    }
    to {
        top: 0px;
    }
}


/* toggle hiện thanh menubar */

.nav-active {
    left: 0;
    visibility: visible;
    transition: 0.5s ease;
}

.defaultnt {
    left: 100%;
}

.hightpx {
    height: 500px;
}

.hightpx img {
    height: 500px;
}


/* responsive menubar */

@media screen and (max-width: 820px) {
    .Menubar .logo img {
        width: 90px;
    }
    .nav_links {
        flex-direction: column;
        position: fixed;
        left: -100%;
        top: 0px;
        background-color: rgba(255, 213, 242, 0.9);
        display: block;
        width: 100%;
        height: 100%;
        transition: 0.5s ease;
        z-index: 1;
        justify-content: center;
        padding: 80px 20px;
    }
    .show {
        animation: mymove 1s;
        height: 100%;
        opacity: 1;
        visibility: visible;
        transition: 0.4s ease;
    }
    @keyframes mymove {
        from {
            top: -10px;
        }
        to {
            top: 0px;
        }
    }
    /* toggle hiện thanh menubar */
    .nav-active {
        left: 0;
        visibility: visible;
        transition: 0.5s ease;
    }
    .defaultnt {
        left: 100%;
    }
}